/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.Trash/
.CFUserTextEncoding
.gitconfig
.bash_profile
.bashrc
.profile
.python_history
.mysql_history
.zsh_history
.vscode/
.composer/
.config/
.docker/
.ssh/
.cache/
.npm/
.nvm/
.rnd
.putty/
.zcompdump
.zprofile
.zsh_sessions/
Desktop/
Documents/
Applications/
Library/
Music/
Movies/
Pictures/
Public/
Sites/
DataGripProjects/
IdeaProjects/
